@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 16px "Open Sans", sans-serif; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1rem; }

strong, b {
  font-weight: bold; }

a {
  color: currentColor;
  text-decoration: none;
  border: 1px solid transparent;
  transition: border-color .3s; }
  a:hover {
    border-bottom: 1px solid #df0ed3; }

img {
  display: inline-block;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 0; }

.container {
  padding: .5rem; }

.text--center {
  text-align: center; }

.text--right {
  text-align: right; }

.text--left {
  text-align: left; }

.text--uppercase {
  text-transform: uppercase; }

.text--lowercase {
  text-transform: lowercase; }

.text--capitalize {
  text-transform: capitalize; }

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: auto -.5rem; }

.col {
  box-sizing: border-box;
  padding: 0 .5rem;
  flex: 1 1 auto;
  flex-basis: 100%;
  max-width: 100%; }
  @media screen and (min-width: 48rem) {
    .col {
      flex-basis: 50%;
      max-width: 50%; } }

.heading {
  font-weight: 600;
  margin: .5em 0; }
  .heading--bordered {
    padding-bottom: .25em;
    border-bottom: 1px solid; }

.btn {
  display: inline-block;
  padding: .5rem .75rem;
  line-height: 1;
  border: 1px solid currentColor;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  transition: color .3s, border-color .3s, background-color .3s; }
  .btn:hover {
    background-color: #000000;
    color: #FFFFFF; }
  .btn--accent {
    color: #df0ed3;
    background-color: #FFFFFF; }
    .btn--accent:hover {
      background-color: #e918dd; }

.tracks {
  margin: 1rem 0; }
  .tracks__item {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-bottom: 1rem; }
    .tracks__item--selected {
      background-color: rgba(213, 4, 201, 0.3); }
  .tracks__figure {
    box-sizing: border-box;
    max-width: 25%;
    padding-right: 5%; }
  .tracks__link {
    color: #df0ed3; }
  .tracks__content {
    flex-grow: 1; }
